@import './global';
@import './mixin';

@include mobile335 {
    td.activityDetails {
        text-align: center !important;
    }
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    padding: 0.75rem 1rem !important;
                    .modal-title {
                        font-size: 1.2rem !important;
                    }
                }
                .modal-body {
                    padding: 0.5rem 1rem !important;
                    .modalcntnt {
                    }
                    .row {
                        .col {
                            .form-floating {
                                textarea {
                                    // height: 300px !important;
                                    min-height: calc(7rem + calc(var(--bs-border-width) * 2)) !important;
                                    height: calc(7rem + calc(var(--bs-border-width) * 2)) !important;
                                }
                            }
                        }
                        ol.list-group {
                            font-size: 1rem !important;
                            li {
                                &:before {
                                    top: 2.3rem !important;
                                }
                                .activityDetails {
                                    width: auto !important;
                                } 
                                .activityDate {
                                    margin-bottom: 0.3rem;
                                    width: auto !important;
                                }
                            }
                        }
                    }
                }
            }
            &#salesDetail {
                .modal-body {
                    .modalcntnt {
                        .inputField {
                            h4 {
                                text-align: left;
                                font-size: 0.75rem;
                            }
                            .cntntArea {
                                &.row.mb-2 {
                                    h3 {
                                        font-size: 1rem;
                                    }
                                }
                                .cntnt {
                                    height: 25vh;
                                    padding-bottom: 2rem;
                                    margin-bottom: 1rem;
                                    overflow-y: hidden;
                                    .rc-tree {
                                        height: 100%;
                                        .rc-tree-list {
                                            overflow-y: scroll;
                                            padding-bottom: 3rem;
                                            .rc-tree-treenode {
                                                overflow-x: hidden;
                                                span.rc-tree-node-content-wrapper {
                                                    // min-width: 30%;
                                                    width: 100%;
                                                    height: 2rem;
                                                    line-height: 2rem;
                                                    span.rc-tree-title {
                                                        .titleArea {
                                                            input[type='radio'] {
                                                                left: 0.35rem;
                                                            }
                                                            .titleItem {
                                                                input[type='number'] {
                                                                    height: 1.75rem;
                                                                    line-height: 1.75rem;
                                                                    position: absolute;
                                                                    top: 2rem;
                                                                    right: unset;
                                                                    margin: 0;
                                                                    left: calc(5% + 2rem);
                                                                    width: calc(100% - 4rem);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.rc-tree-node-selected {
                                                        height: 4rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include tablet758 {
    td.activityDetails {
        text-align: center;
    }
    .modal {
        .modal-dialog {
            max-width: 90vw;
            .modal-content {
                .modal-header {
                    padding: 0.75rem 1rem !important;
                    .modal-title {
                    }
                }
                .modal-body {
                    padding: 0.5rem 1rem !important;
                    .modalcntnt {
                    }
                    .row {
                        .col {
                            .form-floating {
                                textarea {
                                }
                            }
                        }
                        ol.list-group {
                            font-size: 1rem !important;
                            li {
                                &:before {
                                }
                                .activityDetails {

                                }
                                .activityDate {
                                }
                            }
                        }
                    }
                }
            }
            &#salesDetail {
                .modal-body {
                    .modalcntnt {
                        .inputField {
                            h4 {
                                text-align: left;
                                font-size: 0.75rem;
                            }
                            .cntntArea {
                                &.row.mb-2 {
                                    h3 {
                                        font-size: 1rem;
                                    }
                                }
                                .cntnt {
                                    height: 25vh;
                                    margin-bottom: 1rem;
                                    overflow-y: scroll;
                                    .rc-tree {
                                        height: 100%;
                                        overflow-y: scroll;
                                        .rc-tree-list {
                                            .rc-tree-treenode {
                                                span.rc-tree-node-content-wrapper {
                                                    // min-width: 30%;
                                                    width: 100%;
                                                    height: 2rem;
                                                    line-height: 2rem;
                                                    span.rc-tree-title {
                                                        .titleArea {
                                                            input[type='radio'] {
                                                                left: 0.35rem;
                                                            }
                                                            .titleItem {
                                                                input[type='number'] {
                                                                    height: 1.75rem;
                                                                    line-height: 1.75rem;
                                                                    position: absolute;
                                                                    top: 2rem;
                                                                    right: unset;
                                                                    margin: 0;
                                                                    left: calc(5% + 2rem);
                                                                    width: calc(100% - 4rem - 2.5%);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.rc-tree-node-selected {
                                                        height: 4rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include desktop1024 {
    .modal {
        .modal-dialog {
            
        }
    }
}
@include desktop1200 {
    .modal {
        .modal-dialog {
            
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            > * {
                padding: 1rem;
            }
            .modal-header {
                .modal-title {
                }
                button.btn-close {

                }
            }
            .modal-body {
                padding: 1rem 2rem;
                .modalcntnt {
                    .bizoppHistoryArea {
                        #tableAreaChild {
                            .table-responsive {
                                table.bizoppHistory {
                                    thead {
                                        tr {
                                            th {
                                                span {

                                                }
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            td.historyCell {
                                                div.tableCell {

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .row {
                    .d-flex {
                        > * {}
                    }
                    ol.list-group {
                        font-size: 1rem !important;
                        li {
                            &:before {
                            }
                            .activityDetails {
                                width: calc(85% - 0.5rem);
                            }
                            .activityDate {
                                width: 15%;
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
            .modal-footer {
                margin: 0;
                button {
                    &.btn-secondary {

                    }
                    &.btn-primary {

                    }
                    &.btn-warning {

                    }
                }
            }
        }

        &#salesDetail {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba($color: #000000, $alpha: 0.2);
            }
            .modal-body {
                .modalcntnt {
                    .inputField {
                        h3 {
        
                        }
                        .treeBtnArea {
                            padding-bottom: 0.5rem;  
                            border-bottom: 1px solid $base-color;
                            text-align: center;
        
                            button {
                                &:first-child {
                                    margin-right: 0.5rem;
                                }
                                &:last-child {
        
                                }
                            }
                        }
                        .cntntArea {
                            display: flex;
                            width: 100%;
                            margin-left: 0.1rem;
                            .cntnt {
                                height: 50vh;
                                // background-color: rgba($color: $base-color, $alpha: 0.4);
                                border: 1px solid $base-color;
                                padding: 1rem;
                                &.product {
                                    height: auto;
                                    border: none;
                                    padding: 0;
                                }
                                .rc-tree {
                                    margin: 0;
                                    width: 100%;
                                    height: 70%;
                                    // overflow-y: scroll;
                                    overflow-x: hidden;
                                    .rc-tree-list {
                                        .rc-tree-treenode {
                                            overflow-x: hidden;
                                            width: 100%;
                                            margin: 0;
                                            border: 1px solid $base-color;
                                            @include hover($base-color, #000);
                                            position: relative;
                                            span.rc-tree-node-content-wrapper {
                                                margin-left: -1rem;
                                                height: 1.5rem;
                                                line-height: 1.5rem;
                                                margin-left: 5%;
                                                min-width: 40%;
                                                width: fit-content;
                                                position: unset;
                                                &.rc-tree-node-selected {
                                                    background: rgba($color: $point-color, $alpha: 0.2);
                                                    box-shadow: 0 0 0 1px rgba($color: $point-color, $alpha: 0.4);
                                                    opacity: 1;
                                                    span.rc-tree-title {
                                                        input {
                                                            display: inline-block !important;
                                                        }
                                                    }
                                                }
                                                span.rc-tree-title {
                                                    position: unset;
                                                    div.titleArea {
                                                        position: unset;
                                                        display: inline-flex;
                                                        input[type='radio'] {
                                                            position: absolute;
                                                            top: 50%;
                                                            transform: translateY(-50%);
                                                            left: 0.7rem;
                                                            width: 1.2rem;
                                                            cursor: pointer;
                                                        }
                                                        div.titleItem {
                                                            input[type='number'] {
                                                                width: 6rem;
                                                                position: absolute;
                                                                top: 0;
                                                                right: 1rem;
                                                                height: 1.5rem;
                                                                line-height: 1.5rem;
                                                                margin-left: 2rem;
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .searchItem {
                            margin-top: 0.5rem; 
                        }
                    }
                }
            }
        }
    }

}