// @import './global';
$breakpoint-mobile335: 335px;
$breakpoint-tablet758: 758px;
$breakpoint-desktop1024: 1024px;
$breakpoint-desktop1200: 1200px;

@mixin hover($bg-color, $color: #fff) {
    cursor: pointer;
    transition: all 100ms linear;
    &:hover {
        background-color: $bg-color;
        color: $color;
    }
}
// @mixin mobile335 {
//     @media (min-width: #{$breakpoint-mobile335}) and (max-width: #{$breakpoint-tablet758 - 1px}) {
//         @content;
//     }
// }
@mixin mobile335 {
    @media (max-width: #{$breakpoint-tablet758 - 1px}) {
        @content;
    }
}

@mixin tablet758 {
    @media (min-width: #{$breakpoint-tablet758}) and (max-width: #{$breakpoint-desktop1024 - 1px}) {
        @content;
    }
}

@mixin desktop1024 {
    @media (min-width: #{$breakpoint-desktop1024}) and (max-width: #{$breakpoint-desktop1200 - 1px}) {
        @content;
    }
}

@mixin desktop1200 {
    @media (min-width: #{$breakpoint-desktop1200}) {
        @content;
    }
}