@import './mixin';

@include mobile335 {
    button.btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem !important;
    }
}
@include tablet758 {
    button.btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}
@include desktop1024 {
}
@include desktop1200 {
}

button.btn {
    font-size: 1rem;
}
button.btn.btn-sm {
    font-size: 0.75rem;
}
button.btn.btn-lg {
    font-size: 1.2rem;
}

.btnLeft {
    float: right;
    position: absolute;
    // top: 2.5%;
    right: 2.5%;
}


.btnArea {
    // margin-bottom: 2.5%;
}