@import './global';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
// bootstrap의 기본 스타일 custom file
// $theme-colors: (
//   'primary': $point-color,
// );
$font-size-base: 2rem;
.form-floating input[type="date"]::-webkit-calendar-picker-indicator,
.form-floating input[type="date"]::-webkit-inner-spin-button { font-size: 1.1rem;  }


/* @media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1400px;
}
} */
$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $point-color,
  )
);
.btn-primary {
  color: #fff !important;
}

.table {
  // --#{$prefix}table-bg: pink !important;
  tr:hover {
    cursor: pointer;
  }
  th, td {
    white-space: nowrap;
    text-align: center;
  }
  th {
    background-color: $point-color !important;
    color: white !important;
  }
}
#root .form-control {
  // width: 80%;
} 


@import '~bootstrap/scss/bootstrap';