// react-bootstrap's Modal Style
@import './global';

.modal {
    .modal-dialog {
        .modal-content {
            > * {
                padding: 1rem;
            }
            .modal-header {
                .modal-title {
                }
                button.btn-close {

                }
            }
            .modal-body {
                padding: 1rem 2rem;
                .modalcntnt {
                    .bizoppHistoryArea {
                        #tableAreaChild {
                            .table-responsive {
                                table.bizoppHistory {
                                    thead {
                                        tr {
                                            th {
                                                span {

                                                }
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            td.historyCell {
                                                div.tableCell {

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .row {
                    .d-flex {
                        > * {}
                    }
                    textarea.activityDetails {
                        height: calc(7rem + calc(var(--bs-border-width) * 2)) !important;
                    }
                }
            }
            .modal-footer {
                margin: 0;
                button {
                    &.btn-secondary {

                    }
                    &.btn-primary {

                    }
                    &.btn-warning {

                    }
                }
            }
        }

    }
}