// react-bootstrap's Modal Style
@import './global';
@import './mixin';

@include mobile335 {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    padding: 0.75rem 1rem !important;
                    .modal-title {
                        font-size: 1.2rem !important;
                    }
                }
                .modal-body {
                    padding: 0.5rem 1rem !important;
                    .modalcntnt {
                    }
                    .row {
                        .d-flex.col {
                            .form-floating {
                                textarea {
                                    min-height: calc(7rem + calc(var(--bs-border-width) * 2)) !important;
                                }
                            }
                        }
                        ol.list-group {
                            font-size: 1rem !important;
                            li {
                                &:before {
                                    top: 2.3rem !important;
                                }
                                .activityDetails {
                                    width: auto !important;
                                } 
                                .activityDate {
                                    margin-bottom: 0.3rem;
                                    width: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include tablet758 {
    .modal {
        .modal-dialog {
            max-width: 90vw;
            .modal-content {
                .modal-header {
                    padding: 0.75rem 1rem !important;
                    .modal-title {
                    }
                }
                .modal-body {
                    padding: 0.5rem 1rem !important;
                    .modalcntnt {
                    }
                    .row {
                        .d-flex.col {
                            .form-floating {
                                textarea {
                                }
                            }
                        }
                        ol.list-group {
                            font-size: 1rem !important;
                            li {
                                &:before {
                                }
                                .activityDetails {

                                }
                                .activityDate {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include desktop1024 {
    .modal {
        .modal-dialog {
            
        }
    }
}
@include desktop1200 {
    .modal {
        .modal-dialog {
            
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            > * {
                padding: 1rem;
            }
            .modal-header {
                .modal-title {
                }
                button.btn-close {

                }
            }
            .modal-body {
                padding: 1rem 2rem;
                .modalcntnt {
                    .bizoppHistoryArea {
                        #tableAreaChild {
                            .table-responsive {
                                table.bizoppHistory {
                                    thead {
                                        tr {
                                            th {
                                                span {

                                                }
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            td.historyCell {
                                                div.tableCell {

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .row {
                    .d-flex {
                        > * {}
                    }
                    ol.list-group {
                        font-size: 1rem !important;
                        li {
                            &:before {
                            }
                            .activityDetails {
                                width: calc(85% - 0.5rem);
                            }
                            .activityDate {
                                width: 15%;
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
            .modal-footer {
                margin: 0;
                button {
                    &.btn-secondary {

                    }
                    &.btn-primary {

                    }
                    &.btn-warning {

                    }
                }
            }
        }

    }
}