@import './global';
@import './mixin';

// mobile, tablet은 햄버거 메뉴로 변경
@include mobile335 {
    .offcanvas {
        width: 80% !important;
    }
}
@include tablet758 {
    .offcanvas {
        // width: 80% !important;
    }
}
// mobile, tablet은 햄버거 메뉴로 변경 끝

@include desktop1024 {
    #root nav#header {
        .container {
            div.navbar-nav.navMenu {
                width: 80%;
            }
        }
    }
}
@include desktop1200 {
    #root nav#header {
        .container {
            div.navbar-nav.navMenu {
                width: 50%;
            }
        }
    }
}
@media (min-width: #{$breakpoint-desktop1200}) and (max-width: 1600px) {
    #root nav#header {
        .container {
            div.navbar-nav.navMenu {
                width: 70% !important;
            }
        }
    }
}
#root nav#header {
    width: 18%;
    height: 100vh;
    padding: 0;
    z-index: 998;
    &.responsiveHeader {
        left: unset;
        height: fit-content;
        width: fit-content;
        overflow-y: hidden;
        .container-fluid {
            justify-content: flex-end;
            padding: 1rem;
            button {
                span {

                }
            }
        }
    }
    .container {
        margin: 5% 0;
        height: 90%;
        padding: 0;
        flex-direction: column;
    }
    
}
.offcanvas {
    .offcanvus-header {
        button.btn-close {

        }
    }
    .offcanvas-body {
        padding: 2rem;
        .brand {
            a.navbar-brand {
                img.ci {

                }
            }
        }
        .navMenu {
            .menus.nav-link {
                a {
                    &.nav-link.menuItem {

                    }
                }
            }
            a {
                &.menus.nav-link.menuItem {

                }
            }
        }
        .loginInfoArea {
            .btnLoginInfo.btn-group {
                button.btn {

                }
                button.btn.btnUserId {

                }
                button.btn.btnLogout {

                }
            }
        }
    }
}
nav#header, .offcanvas {
    div.brand {
        width: $full;
        text-align: center;
        img.ci {
            width: 90%;
        }
    }
    div.navbar-nav.navMenu {
        justify-content: space-evenly;
        flex-direction: column;
        a, div {
            font-size: 1.2rem;
            font-weight: 500;
            color: $primary-color;
            &.active, &:hover {
                color: #fff; 
                background-color: #007bff;
                border-radius: 5px; 
            }
            &.disabled, &.disabled * {
                color: $primary-color !important;
            }
            &.menus {
                margin: 5% 0;
            }
            > a {
                margin-left: 5%;
                font-size: 1rem;
            }
        }
    }
    
    div.loginInfoArea {
        text-align: right;
        div.btn-group.btnLoginInfo {
            border-color: #007bff;
            button.btn {
                color: white;
                &.btnUserId {
                    pointer-events: none;
                    .bi-person {
                        font-size: 1.2rem;
                        margin-top: -0.5%;
                    }
                }
                &.btnLogout {}
            }
        }
    }
}
