@import '../styles/global';


#bizOppHistory {
    .wrap {
    }
    .inputField {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 1rem;
        .searchItem {
            width: 100%;
            justify-content: space-between !important;
            align-items: center;
        }
    }
}
#search {
    overflow: auto;
}
.inputField {
    .searchItem {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        .infoArea {
            font-size: 1.0rem;
            span {
                font-weight: 500;
            }
        }
        .row {
            width: $full;
            // margin-bottom: 1rem;
            margin-bottom: 0.5rem;
            margin-right: -2rem;
            &.activityArea {
                &:before {
                    content: '';
                    width: $full;
                    height: 1px;
                    background: black;
                    margin: 1rem 0;
                }
                .col {
                    label {
                    }
                    &.btnArea {
                    } 
                    > div {
                    }
                    input, select {
                    }
                } 
                h3 {
                    padding: 0;
                    margin: 1rem 0 0.5rem;
                    text-align: left;
                }
                ol.list-group {
                    li {
                    }
                }
            }
            &.bizoppArea {
                .row {
    
                }
            }
            .col {
                padding: 0;
                padding-right: 1rem;
                &.floating {
                    label {
                        font-size: 0.9rem;
                    }
                    .form-floating { 
                        width: 100%;
                        > * {
                            line-height: calc(0.9rem * 1.1);
                            height: calc(3.2rem + calc(var(--bs-border-width) * 2));
                            min-height: calc(3.2rem + calc(var(--bs-border-width) * 2));
                        }
                        select {
                            width: inherit;
                            padding-left: 0.75rem;
                            option {
                                // transform: translateX(0.25rem);
                            }
                        }
                        /* label {
                            padding: 0.5rem 0.2rem !important;
                        }
                        input {
                            padding: 0.5rem 0.2rem !important;
                        } */
                    }

                }
                span {
                    font-weight: 500;
                    font-size: 1.25rem;
                }
                
                > label {
                    width: 6.5rem;
                    margin: 0 0.5rem 0 0;
                }
                &.btnArea {
                    margin: 0;
                    .btn {
                    }
                } 
                > div {
                    width: 100%;
                    // width: calc(100% - (6.5rem + 0.5rem + 1rem));    
                    display: inline-flex; 
                    align-items: center;
                    justify-content: space-between;
                    input {
                    }
                    
                }
                > input, select {
                    // max-width: 100%;
                    // width: calc(100% - (6.5rem + 0.5rem + 1rem));
                    &.form-check-input {
                        width: 1em;
                        padding: 0.5em;
                    }
                }
            } 
        }
/*         &.activityArea {
            width: $full;
            &:before {
                content: '';
                width: $full;
                height: 1px;
                background: black;
                margin: 1rem 0;
            }
            .row {
                width: inherit;
                .col {
                
                    // width: calc(100% - 3rem);
                    label {
                    }
                    &.btnArea {
                    } 
                    > div {
                    }
                    input, select {
                        width: calc(100% - (6.5rem + 0.5rem));
                    }
                } 
                h3 {
                    padding: 0;
                    margin: 1rem 0 0.5rem;
                    text-align: left;
                }
                ol.list-group {
                    li {

                    }
                }
            }
        }
        &.bizoppArea {
            .row {

            }
        }  */
    }
}