#tableArea {
    width: 100%;
}
table {
    width: 100%;
    font-size: 0.8rem;
    > div {
        width: 100%;
        border: none;
        thead, tbody { 
            width: 100%;
            display: table; /* 테이블 컨텍스트를 유지 */
            table-layout: fixed; /* 테이블의 고정 레이아웃 */
            tr {
                width: 100%;
                display: table-row; /* 테이블 행으로 설정 */
                th {
                }
                td {
                }
                th, td {
                    text-align: left;
                    vertical-align: middle;
                    width: auto; /* 기본 너비 유지 */
                }
            }
        }
    }
    thead {
        th {
            vertical-align: middle;
            cursor: default;
            &.header_biz_opp_name {
                max-width: 80px;
            }
        }
    }
    tr {
        th, td {
            border: 1px solid #dee2e6;
            /* min-width: 80px;
            max-width: 250px; */
            overflow: hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis; /* 말줄임표 추가 */
            min-height: 32px;
            // padding: 1rem 0.5rem;
            padding: 0;
            &:nth-child(2), &:nth-child(3) {
                min-width: 104px;
            }
        }
        &.fullRow {
            td {
                    &:first-child {
                }
            }
        }
        td {
            position: relative;
            vertical-align: middle;
            padding: 0.3rem 0.6rem !important;
            
            button {
                width: 100%;
            }
            &:last-child {
                padding: 0 !important;
            }
                
        }
    }
    
    
    button.btn.light {
        // font-size: 0.75rem;
    }
    
}