@import './global';

#tableArea {
    width: 100%;
}
table {
    width: 100%;
    font-size: 0.8rem;
    thead {
        th {
            vertical-align: middle;
            cursor: default;
            &.header_biz_opp_name {
                max-width: 80px;
            }
        }
    }
    tr {
        th, td {
            border: 1px solid #dee2e6;
            /* min-width: 80px;
            max-width: 250px; */
            overflow: hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis; /* 말줄임표 추가 */
            min-height: 32px;
            // padding: 1rem 0.5rem;
            padding: 0;
            &:nth-child(2), &:nth-child(3) {
                min-width: 104px;
            }
        }
        &.fullRow {
            td {
                    &:first-child {
                }
            }
        }
        td {
            position: relative;
            vertical-align: middle;
            padding: 0.3rem 0.6rem !important;
            
            button {
                width: 100%;
            }
            &:last-child {
                padding: 0 !important;
            }
            &.historyCell {
                padding: 0 !important;
                height: 30px;
                > .tableCell {
                    padding: 0.3rem 0.6rem !important;
                    height: inherit;
                }
            }       
        }
    }
    
    &.activity {
        div.d-flex {
            border: 1px solid #aaa !important;
            width: 100%;
            border: none;
            div.collapseArea {
                padding: 0;
                div.collapseItem {
                    padding: 0;
                    tbody {
                        tr {
            
                        }
                        td {
            
                        }
                    }
    
                }
                button.collapseController {
                    background-color: $point-color;
                    width: 100%;
                    height: 1.5rem;
                    line-height: calc(1.5rem / 2);
                    font-size: 0.8rem;
                    display: inline-flex;    
                    align-items: center;
                    justify-content: center;
                    border-radius: 0;
                    svg {
                        margin-right: 0.5rem;
                    }
                }
                
            }
            thead, tbody {
                width: 100%;
                display: table;
                table-layout: fixed;
                tr {
                    display: table-row; 
                    overflow-x: scroll; 
                    th {
                    }
                    td {
                    }
                    th, td {
                        width: auto; 
                    }
                }
            }
            thead {}
            tbody {
                tr {
                    th, td {
        
                    }
    
                }
            }

        }
    }
    button.btn.light {
        // font-size: 0.75rem;
    }
    
}